.calendar{
  width: 358px;
  height: 100%;
  border:1px solid #07426a;
}
.calendar table{
  margin: 1px;
}
.calendar table td{
  color: #fff;
  vertical-align: top;
}
.calendar .left{
  height: 100%;
  background-color: #07426a;
  width: 100px;
}
.calendar .left thead{
  display: none;
}
.calendar .left .date{
  height: 60px;
  text-align: center;
  margin-top: 60px;
}
.calendar .left .date .prev{
  background-image: url("../images/arrwo_2.png");
  background-position: 0 -21px;
  display: block;
  width: 11px;
  height: 20px;
  float: left;
  margin-top: 16px;
  margin-left: 1px;
}
.calendar .left .date .prev:hover{
  background-image: url("../images/arrwo_2.png");
  background-position: 0 0;
  cursor: pointer;
}
.calendar .left .date .next{
  background-image: url("../images/arrwo_2.png");
  background-position: -20px -21px;
  display: block;
  width: 11px;
  height: 20px;
  float: right;
  margin-top: 16px;
  margin-right: 1px;
}
.calendar .left .date .next:hover{
  background-image: url("../images/arrwo_2.png");
  background-position: -20px 0;
  cursor: pointer;
}
.calendar .left .date .year{
  font-size: 20px;
}
.calendar .left .date .month{
  font-size: 16px;
}
.calendar .left .distance{
  margin-top: 30px;
  text-align: center;
}
.calendar .left .distance .day{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}
.calendar .right{
  width: 254px;
  height: 100%;
}
.calendar .right table{
  width: 100%;
  height: 246px;
}
.calendar .right table td{
  color: #333;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.calendar .right table thead td{
  width: 34px;
  height: 42px;
}
.calendar .right table tbody td{
  width: 34px;
  height: 36px;
  cursor: pointer;
  position: relative;
}
.calendar .right table tbody td.onToday{
  background-color:#107fb8;
  color:#fff;
}
.calendar .right table tbody td.date_has_event{
  border-bottom: 2px solid #f59b3a;
}